.plan{
    margin-top: 1.5rem;
}

.chart{
    margin-top: 5rem;
    margin-bottom: 6rem;
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 375px;
}

#chartContainer{
    width: 45%;
}

#serviceChartContainer{
    width: 45%;
}