table,th,td{
    color: rgb(92,92,92);
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.update{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    background-color: rgb(225, 147, 1);
    border: none;
    color: white;
    border-radius: 5px;
}

.update:hover{
    cursor: pointer;
    background-color: rgb(0, 200, 255);
}

.message{
    padding: 10px;
    background-color: rgb(147, 233, 147);
    color: green;
}