.progress{
    margin-top: 1rem;
    border: 1px solid grey;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 3rem;
    background-color: white;
}

table,th,td{
    border: 1px solid grey;
    padding: 10px;
    color: rgb(92,92,92);
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

table th{
    font-size: 1.25rem;
    background-color: #eeeeee;
}

p{
    font-size: 1rem;
}

.bottom{
    margin-top: 1rem;
}

.message-container{
    margin-top: 2rem;
}

.back a{
    text-decoration: none;
    color: rgb(92,92,92);
}

.back a:hover{
    text-decoration: underline;
    color: rgb(69, 69, 69);
}