*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #35374B;
    color: white;
}

.container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 1rem;
    width: 30%;
    margin-top: 0.5rem;
    border-top: 1px solid grey;
}


.input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

form .input input{
    width: 100%;
    height: 2rem;
    font-size: 1.25rem;
    padding: 5px;
    border: none;
}
form .input select{
    height: 3rem;
    font-size: 1.25rem;
    padding: 5px;
    width: 100%;
    border: none;
}

.input select option{
    color: black;
}

.input select:invalid,
.input select option[value=""] {
  color: #999999;
}


form button:hover{
    cursor: pointer;
    background-color: #59B4C3;
}

.action{
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .login{
    background-color: #59B4C3;
}
.action .login:hover{
    background-color: #3A833A;
}

.action button{
    padding: 5px;
    height: 3rem;
    font-size: 1.25rem;
    background-color: #3A833A;
    border: none;
    color: white;
}

.action button:hover{
    cursor: pointer;
    background-color: #59B4C3;
}

.action a{
    color: grey;
    text-decoration: none;
    font-size: 1.25rem;
}

.action a:hover{
    color: white;
    text-decoration: underline;
}


/* For Icon */
.input{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #59B4C3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input i{
    width: 15px;
    margin-left: 15px;
}