.form-container{
    margin-top: 1rem;
}

table,th,td{
    color: rgb(92,92,92);
    border: 1px solid grey;
    padding: 10px;
    text-align: start;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
    padding: 20px;
}
form textarea{
    width: 98%;
    height: 10rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    padding: 10px;
}

form label{
    font-size: 1.25rem;
}

form input{
    width: 20%;
    height: 2rem;
    font-size: 1rem;
}

.publish{
    margin-top:3rem;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgb(1, 208, 1);
    border: none;
    border-radius: 5px;
    color: #eeeeee;
}

.publish:hover{
    cursor: pointer;
    background-color: rgb(0, 183, 255);
}

.manage{
    padding: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    background-color: rgb(254, 184, 53);
    border: none;
    border-radius: 5px;
    color: rgb(60, 60, 60);
}

.manage:hover{
    cursor: pointer;
    background-color: rgb(0, 183, 255);
    color: #eeeeee;
}