.form-container{
    margin-top: 1rem;
    width: 100%;
}

form{
    display: flex;
    gap: 2rem;
}

.personal, .other{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;
    width: 50%;
    height: fit-content;
}

h3{
    margin-bottom: 10px;
}

.personal, .service, .contact{
    display: flex;
    flex-direction: column;
}

form input, select{
    height: 2rem;
    font-size: 1rem;
    padding: 5px;
}

.other{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button{
    height: 3rem;
    font-size: 1.25rem;
    background-color: rgb(6, 198, 6);
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(3, 186, 226);
}
